<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.j2eeprac.Dao.I_UserDao">
	<insert id="insert"
		parameterType="com.j2eeprac.Entities.User.User">
		insert into user_tb(ukey,uname,usex,uage,authority)
		values(#{ukey},#{uname},#{usex},#{uage},#{authority})
	</insert>
	<delete id="delete" parameterType="String">
		delete from user_tb where
		uid=#{uid}
	</delete>
	<update id="update"
		parameterType="com.j2eeprac.Entities.User.User">
		update user_tb user
		<set>
			<if test="uid != ''">
				user.uid=#{uid},
			</if>
			<if test="ukey != ''">
				user.ukey=#{ukey},
			</if>
			<if test="uname != ''">
				user.uname=#{uname},
			</if>
			<if test="usex != ''">
				user.usex=#{usex},
			</if>
			<if test="uage != ''">
				user.uage=#{uage},
			</if>
			<if test="authority != ''">
				user.authority=#{authority}
			</if>
		</set>
		where uid=#{uid}
	</update>
	<select id="countAll" resultType="int">
		select count(*) c from user_tb
	</select>
	<select id="selectAll"
		resultType="com.j2eeprac.Entities.User.User">
		select * from user_tb order by uid asc
	</select>
	<select id="findByUserID" parameterType="String"
		resultType="com.j2eeprac.Entities.User.User">
		select * from user_tb where uid=#{uid}
	</select>
	<select id="findByUserName" parameterType="String"
		resultType="com.j2eeprac.Entities.User.User">
		select * from user_tb where uName=#{uName}
	</select>
</mapper>