@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
}

.mainPage {
	overflow: hidden;
	background-color: #f5f2fb;
	min-height: 512px;
	height: 100%;
	font-family: 'Microsoft YaHei', 'SimSun';
}

.toolBar {
	background-color: #27262a;
	color: #cec0eb;
	font-size: 16px;
	font-weight: 400;
	position: relative;
}

.toolBar-Container {
	width: 100%;
	height: 80px;
	box-sizing: border-box;
	padding: 0 20px;
	margin: 0 auto;
	display: flex;
	-webkit-box-pack: justify;
	justify-content: space-between;
}

.toolBar-Container-Left {
	-webkit-box-flex: 0;
	flex: none;
}

.toolBar-Container-Left-Logo {
	width: 80px;
	height: 80px;
	margin-left: 0;
	margin-top: 0;
	position: relative;
	float: left;
}

.toolBar-Container-Left-Menus {
	width: auto;
	display: inline;
	margin-left: 80px;
}

.toolBar-Container-Left-Menus a {
	text-decoration: none;
	color: #cec0eb;
}

#toolBar-Menu {
	margin: 25px 15px;
	height: 40px;
	position: relative;
	float: left;
}

#toolBar-Menu ul {
	list-style: none;
	margin-left: 5px;
}

#toolBar-Menu li {
	margin-left: 10px;
	display: inline;
}

.toolBar-Container-Middle {
	padding: 0 20px;
}

.toolBar-Container-Middle-Search {
	max-width: 400px;
	min-width: 300px;
}

.toolBar-Container-Middle-Search-Container {
	-webkit-box-sizing: border-box;
	width: 100%;
	height: 40px;
	margin: 20px 30px 0 0;
	box-sizing: border-box;
}

.toolBar-Container-Middle-Search-Container input {
	text-indent: 12px;
	width: calc(100% -88px);
	font-size: 14px;
	display: inline-block;
	height: 100%;
	background: #3e3c40;
	color: #cec0eb;
	vertical-align: top;
	border: 2px solid #b8a6dc;
	border-right: 3px solid #b8a6dc;
	box-sizing: border-box;
	outline: none;
	border-radius: 16px 0 0 16px;
}

.toolBar-Container-Middle-Search-Container .gradient {
	pointer-events: none;
	background: #3e3c40;
	position: absolute;
	transform: translate(-40px, 1px);
	display: inline-block;
	width: 40px;
	height: 38px;
}

.toolBar-Container-Middle-Search-Container button {
	display: inline-block;
	width: 100px;
	height: 100%;
	outline: 0;
	border: 1 none;
	border-radius: 0 16px 16px 0;
	font-size: 14px;
	line-height: 32px;
	cursor: pointer;
	transition: all .2s ease-in;
	background-color: #b8a6dc;
	color: #3e3c40;
	text-align: center;
}

.toolBar-Container-Right {
	-webkit-box-flex: 0;
	width: auto !important;
	display: flex;
	flex: none;
}

.toolBar-Container-Right-UserName {
	float: left;
	position: relative;
	padding: 20px;
	flex: 5;
	white-space: nowrap;
}

.toolBar-Container-Right-UserName span {
	white-space: nowrap;
}

.toolBar-Container-Right-Btns {
	height: 100%;
	flex: 1;
}

.toolBar-Container-Right-Btns-Login {
	padding: 20px 0 0 0 !important;
	height: auto;
}

.toolBar-Container-Right-Btns-Login button {
	display: block;
	position: relative;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	background-color: #b8a6dc;
	color: #3e3c40;
	border-radius: 50%;
	cursor: pointer;
}

.toolBar-Container-Right-Btns-Avatar {
	display: block;
}

.mainBox-Container {
	-webkit-box-pack: center !important;
	justify-content: center !important;
	display: flex !important;
	height: auto !important;
	padding: 15px 15px 15px 15px;
}

mainBox {
	min-height: 512px;
}

.mainBox {
	width: 1024px;
	height: auto !important;
	box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);
	background-color: #ffffff;
}

.contentBox-Container {
	height: auto !important;
	background-color: #ececec;
}

.contentBox {
	position: relative;
	padding: 5px 5px;
	background: #ffffff;
	border-radius: 1px;
	min-height: 512px;
}

.articleHeaderBox {
	border-bottom: 2px solid #ececec;
	padding-top: 10px;
	z-index: 9;
	background-color: #ffffff;
}

.articleHeader {
	margin-bottom: 10px;
}

.articleTitleBox {
	margin: 0 10px 0 10px;
}

.articleTitle {
	font-size: 24px;
	word-wrap: break-word;
	color: #27262a;
	font-weight: 600;
	margin: 0;
	word-break: break-all;
	min-height: 50px;
}

.articleAuthor {
	font-size: 20px;
	word-wrap: break-word;
	color: #27262a;
	font-weight: 500;
	margin: 0;
	word-break: break-all;
	min-height: 30px;
}

.contentBox article {
	position: relative;
	padding-top: 10px;
	display: block;
	background-color: #ffffff;
	min-height: 500px;
}

.articleContent {
	margin: 0 10px 0 10px;
	word-wrap: break-word;
	color: #27262a;
}

.articleEditorContainer {
	padding: 5px 5px;
	border-radius: 1px;
}

.articleEditorTitle {
	border-top: 2px solid #ececec;
}

aside {
	display: block;
	width: 300px;
	float: left;
	min-height: 512px;
}

.mainBox-Aside {
	margin: 0 0 0 10px;
	box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);
	background-color: #ffffff;
}

.mainBox-Aside-Container {
	flex: 1;
	margin: 5px 5px;
	background-color: #ffffff;
	color: #27262a;
	min-height: 64px;
}

.mainBox-Aside-Container-ArticleEditor {
	margin: 15px 5px;
}

.mainBox-Aside-Container-ArticleEditor ul {
	display: block;
	margin: 30px 0 0 0;
	list-style: none;
	background-color: #ffffff;
}

.mainBox-Aside-Container-ArticleEditor li {
	flex: 1;
	margin: 0 0 0 0;
	background-color: #ffffff;
}

.mainBox-Aside-Container-ArticleEditor-Menulist {
	background-color: #ffffff;
	height: 50px;
	text-align: center;
	line-height: 50px;
	font-size: 20px;
	font-weight: 600;
	cursor: pointer;
}

.mainBox-Aside-Container-ArticleEditor-Menulist:hover {
	background-color: #fafafa;
}

.mainBox-Aside-ArticlesContainer{
	margin: 20px;
	background-color: #ececec;
}

.mainBox-Aside-ArticleContainer{
	width: auto !important;
	padding: 10px;
	margin: 2px 0;
	background-color: #ffffff;
	cursor: pointer;
}

.mainBox-Aside-ArticleContainer:hover{
	background-color: #fbfbfb;
}

.mainBox-Aside-ArticleBox{
	height: 65px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.mainBox-Aside-ArticleTitle{
	font-size: 18px;
	font-weight: 500;
	height: 25px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.mainBox-Aside-ArticleAuthor{
	font-size: 14px;
	font-weight: 400;
	height: 20px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.mainBox-Aside-ArticleContent{
	font-size: 14px;
	font-weight: 400;
	height: 20px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.footer {
	background-color: #27262a;
	border-top-width: 5px;
	border-top-style: solid;
	color: #27262a;
	width: 100%;
	overflow: hidden;
	padding: 30px 0 10px;
}

.footerContainer {
	color: #999;
	width: 1200px;
	margin: 0 auto;
	position: relative;
	letter-spacing: 2px;
}

.footerList {
	height: 30px;
	line-height: 30px;
	font-size: 18px;
}

.footerTitle {
	height: 30px;
	line-height: 30px;
	font-size: 18px;
}

.footerUl {
	padding: 0;
	list-style: none;
	text-decoration: none;
	margin: 0;
}

.footerBottom {
	font-size: 14px;
	border-top: 1px solid #393939;
	padding: 20px 0 40px 0;
	margin-top: 30px;
	line-height: 25px;
}

.footerBottom section {
	max-width: 1000px;
}

.arrow {
	border: 9px solid transparent;
	border-bottom-color: #38373b;
	width: 0px;
	height: 0px;
	top: 0px
}

.stick {
	width: 8px;
	height: 14px;
	border-radius: 1px;
	background-color: #38373b;
	top: 15px;
}

#backToTop div {
	position: absolute;
	margin: auto;
	right: 0px;
	left: 0px;
}

#backToTop {
	background-color: #b8a6dc;
	height: 38px;
	width: 38px;
	border-radius: 3px;
	display: block;
	cursor: pointer;
	position: fixed;
	right: 50px;
	bottom: 100px;
	display: none;
}

#backToTop:hover {
	background-color: #c2b5e1;
	height: 38px;
	width: 38px;
	border-radius: 3px;
	display: block;
	cursor: pointer;
	position: fixed;
	right: 50px;
	bottom: 100px;
	display: none;
}