<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration 
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
        <package name="com.j2eeprac.Dao"/>
    </typeAliases>
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC"/>
			<dataSource type="POOLED">
				<property name="driver" value="com.mysql.cj.jdbc.Driver"/>
				<property name="url" value="jdbc:mySQL://localhost:3306/j2eeprac?useUnicode=true&amp;characterEncoding=UTF-8&amp;zeroDateTimeBehavior=convertToNull"/>
				<property name="username" value="root"/>
				<property name="password" value="123456"/>
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<mapper resource="com/j2eeprac/Dao/UserDaoMapper.xml"/>
		<mapper resource="com/j2eeprac/Dao/ArticleDaoMapper.xml"/>
		<mapper resource="com/j2eeprac/Dao/CommentDaoMapper.xml"/>
	</mappers>
</configuration>